<form action="/user/signin" method="POST">
    <label for="email">email</label><br>
    <input type="email" placeholder="email" name="email"><br>
    <label for="password">password</label><br>
    <input type="password" placeholder="password" name="password"><br>
    <button type="submit">Sign In</button>
</form>